body {
    padding-top: 70px;
}

.hidden {
    display: none;
}

body {
	font-family: Century Gothic;
	background-repeat: no-repeat;
	background-size: 100%;
}

.header {
	background-color: #474747;
}

h1, h3 {
	text-align: center;
}

h3, section {
	font-style: italic;
}

p {
	text-indent: 40px;
}

#web-title {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 20px;
	color: black;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
}

#web-title:hover {
	color: white;
}

#logo {
	width: 30px;
	height: 30px;
}

.item:hover{
	font-weight: bold;
}

.user-email:hover {
	text-decoration: line-through;
}

.navbar {
	border: none;
}

.navbar-btn {
	margin-top: 10px;
}

.navbar-nav > li > a {
	padding-top: 18px;
	padding-bottom: 24px;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.span2 {
	border-radius: 7px;
	margin-right: 0px;
	height: 35px;
	padding-left: 5px;
}

.navbar-form {
	margin-top: 5px;
	margin-right: 0px;
}
